# from my.telegram.org/apps
API_ID=
API_HASH=

# from @BotFather on telegram
BOT_TOKEN=
LOGGER_ID= -1003804499697

# mongo url from cloud.mongodb.com
MONGO_URL=

OWNER_ID=7667770665

# pyrogram session from @StringFatherBot on telegram
SESSION=
